body {
    margin: 0;
	font-family: 'Raleway';
	font-size: 15px;
}

h1 {
	text-align: center;
	padding: 10px 0;
	background: #4286f4;
	color: white;
	margin: 0;
	text-transform: uppercase;
}

table {
	text-align: center;
}

tbody {
	border: 1px solid black
}

button {
	font-family: 'Raleway';
	border: none;
	background: none;
}

.d-flex {
	background: white;
	margin: 5px 0;
}

.list-group-item {
    padding: 3px 10px;
}

.pista-escondida {
    visibility: hidden;
}

#mapa-container {
	background: #2253a3;
}

#tablas-container {
	background: #3c4656;
}

#interrogacion {
	margin-top: 5px;
}

#juego-ganado {
	color: #0ba500;
}

#juego-perdido {
	color: #a50000;
}

#sin-tiempo {
	color: #a50000;
}
